body
    background-color: black
    margin: 0

.lil-gui.root
    width: fit-content
    max-width: 50%

.lil-gui .controller .name
    overflow: hidden
    text-overflow: ellipsis
    flex-grow: 1
    max-width: 65%
    white-space: nowrap

.lil-gui .controller .widget
    width: 35%
    min-width: 150px

@keyframes spinner
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(360deg)

.cumo-spinner
    position: fixed
    top: calc(50% - 20px)
    left: calc(50% - 20px)

    & circle
        fill: none
        stroke: white
        stroke-width: 5
        stroke-linecap: round
        stroke-dasharray: 2.5 (3.14 * 40 * 2 - 2.5)
        transform-origin: 50px 50px 0
        animation: spinner 1s linear infinite
